---
---

// Bootstrap but rollback unlucky settings

@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css);

h1 {
  font-size: 2em;
  font-weight: bold;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
}
h3 {
  font-size: 1.17em;
  font-weight: bold;
}
.alert {
  position: unset;
}

// Now we load the style

@import "{{ site.theme }}";

// New fonts

@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css);

@font-face {
  font-family: "URW DIN";
  src: url("/python/assets/fonts/URW DIN W05 Regular.woff2") format("woff2"),
    url("/python/assets/fonts/URW DIN W05 Regular.woff") format("woff"),
    url("/python/assets/fonts/URW DIN W05 Regular.ttf") format("truetype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "URW DIN";
  src: url("/python/assets/fonts/URW DIN W05 Medium.woff2") format("woff2"),
    url("/python/assets/fonts/URW DIN W05 Medium.woff") format("woff"),
    url("/python/assets/fonts/URW DIN W05 Medium.ttf") format("truetype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "URW DIN Semi-Condensed";
  src: url("/python/assets/fonts/URW DIN SemiCond W05 Demi.woff2")
      format("woff2"),
    url("/python/assets/fonts/URW DIN SemiCond W05 Demi.woff") format("woff"),
    url("/python/assets/fonts/URW DIN SemiCond W05 Demi.ttf") format("truetype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
}

// ... and custom settings

body {
  font-family: "URW DIN";
}

h1 {
  font-family: "URW DIN Semi-Condensed";
  font-weight: 600;
  font-size: 20pt;
}

h1,
h2,
h3 {
  line-height: 1.3;
}

code {
  font-size: 95%;
  font-family: "Fira Code";
  color: #727272;
}

h1,
h2,
h3 code {
  font-weight: lighter;
}

.hljs {
  font-size: 95%;
}

header {
  width: auto;
  background-color: white;
  padding: 20px 20px 10px 20px;
  margin-top: -60px;
}

header .view {
  display: none;
}

header p {
  margin: 0 0 10px;
}

header h1 {
  margin: 0 0 10px;
}

section {
  width: 90%;
  padding-top: 85px;
}

footer {
  display: none;
}

table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

img.flag {
  margin: 0px 10px;
  border: 1px solid lightgray;
}

img.rendu_code {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

a img {
  vertical-align: middle;
  margin-left: 0.2em;
  margin-top: -0.2em;
  height: 1.2em;
}

a.logo img {
  width: 250px;
  height: auto;
  margin: 30px 0px 30px 30px;
  display: block;
  float: right;
}

.buy {
  margin: 10px;
}

.buy li {
  margin: 0 2px;
  display: inline;
}

.buy li :before {
  content: "|";
  padding-right: 8px;
  color: #727272;
}

.buy li:first-child ::before {
  content: unset;
}

.buy ul {
  display: inline;
  font-size: 95%;
  list-style: none outside none;
  padding-left: 0px;
}

// Responsive design

@media print, screen and (max-width: 960px) {
  header {
    margin-top: 0px;
    padding: 5px;
  }

  section {
    width: auto;
    padding-top: 20px;
  }

  img.rendu_code {
    max-width: 60%;
  }
}

@media print, screen and (max-width: 480px) {
  .emgithub-container {
    visibility: hidden;
    position: relative;
  }

  .emgithub-container:after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 80%;
    min-height: 180px;
    background-image: url("/python/_static/rotate.png");
    background-origin: content-box;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    content: "Tourner l'écran en mode paysage pour voir le code source.";
    font-style: italic;
    border: 1px solid transparent;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
    border-radius: 0.3rem;
  }

  a.logo img {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    float: unset;
  }

  img.rendu_code {
    max-width: 80%;
  }
}
